/* html{
    background-color: aqua;
}
body{
    background-color: brown;
    width: 700px;
    height: 700px;
}






table{
    border-color: blueviolet;
}
th,td,tr{
    text-align: center;
    background-color: brown;
} */